<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dispositivo</title>
</head>
<body>

    <h1>Cadastro de Dispositivo</h1>

    <form method="post">
        Marca: <input type="text" value="" name="marca"/>
        Ano: <input type="text" value="" name="Ano"/>
        Tipo: <input type="text" value="" name="Tipo"/>
        ConfiguracaoDispositivo: <input type="text" value="" name="ConfiguracaoDispositivo"/>
        Memoria: <input type="text" value="" name="Memoria"/>
        PlacaMae: <input type="text" value="" name="PlacaMae"/>
        Armazenamento: <input type="text" value="" name="Armazenamento"/>
    </form>

</body>
</html>