<!DOCTYPE html>
<html lang=¨pt-br¨
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orcamento</title>
</head>
<body>

    <h1>Orçamento</h1>

    <form method="post">
        Cliente: <input type="text" value="" name="Cliente"/>
        Data: <input type="date" value="" name="Data"/>
        Dispositivo: <input type="text" value="" name="Dispositivo"/>
        Observacao: <input type="text" value="" name="Observavao"/>

        <button type="submit">Salvar</button>
        <button type="button">Menu</button>
    </form>

</body>
</html>